

.followAndFollowerSection {
    min-height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    /* margin: 5vh; */
}

.change {
    width: 40vw;
    height: 5vh;
    margin-top: 5vh;
}

.followAndFollowerList {
    margin-left: 30%;
    width: 40vw;
    margin-top: 10vh;
    border-left: 1px solid;
    border-right: 1px solid;
    /* border: 1px solid; */
    min-height: 90vh;
}

.followList .follow a{
    width: 96%;
    border-top: 1px solid #d3d3d3;
    margin: 0 auto 0;
    padding: 2%;
    /* height: ; */
    display: flex;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;
}



.followList .follow .userIcon {
    width: 10%;
    height: 100%;
}

.followList .follow .userIcon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

.followList .follow .nameId {
    width: 89%;
}

.followList .follow p {
    line-height: 25px;
}







