.postList .profile {
    width: 100%;
    background: #FFFF;
    /* height: 50vh; */
    border-bottom: 1px solid ;
}

.postList .profile .profileBackImage {
    width: 100%;
    height: 20vh;
}

.postList .profile .profileBackImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.postList .profile .profileIcon {
    width: 100%;
    /* margin:  auto 1vh; */
    position: relative;
}

.postList .profile .profileIcon img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    margin: -75px auto 1vh;

}

.postList .profile .profileName {
    text-align: center;
}

.postList .profile .followAndFollower {
    display: flex;
    width: 20vw;
    margin: 0 auto;
    justify-content: space-around;
}

.postList .profile .followAndFollower div {
    display: flex;
}

.postList .profile .followAndFollower .profileNum {
    display: block;
    font-weight: 600;
}

.postList .profile .profileText {
    margin-top: 1vh;
}

.postList .profile .profileText p {
    font-size: 2.2vmin;
    width: 39vw;
    padding: 2vh 0.5vw 2vh;
    border-top: 1px solid #d3d3d3;
    min-height: 3vh;
    line-height: 3vh;
}

.followButton {
    position: absolute;
    width: 10vw;
    border-radius: 10px;
    height: 5vh;
    top: 80px;
    left: 2vw;

}