.view {
    min-height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
}

.leftNav {
    width: 18vw;
    border-radius: 10px;
    border: 1px solid;
    /* height: 58vh; */
    position: fixed;
    top: 20vh;
    padding: 1%;
    left: 5vw;
}

.leftNav ul {
    list-style: none;
    width: 100%;
}

.leftNav ul li {
    display: flex;
    height: 8vh;
    width: 98%;
    padding: 0 1%;
    border-radius: 5px;
}

.leftNav ul li:hover {
    background-color: #dcdcdc;
}

nav ul li .navIcon {
    width: 3vw;
    height: 5vh;
    margin-top: 1.5vh;
    font-size: 3vmin;
    text-align: center;
    line-height: 5vh;
}

nav ul li .navValue {
    line-height: 8vh;
    font-size: 2.3vmin;
    margin-left: 0.2vw;
}

.leftNav ul a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.leftNav ul li img {
    width: 3vw;
    display: block;
    object-fit: contain;
    height: 5vh;
    margin-top: 1.5vh;
}

.postList {
    margin-left: 30%;
    width: 40vw;
    margin-top: 10vh;
    border-left: 1px solid;
    border-right: 1px solid;
    /* border: 1px solid; */
    min-height: 90vh;
}

.postList .post {
    width: 90%;
    border: 1px solid #d3d3d3;
    margin: 5vh auto 0;
    padding: 2%;
    border-radius: 10px;
}

.postList .post:first-child {
    margin-top: 10vh;
}

.postList .post .postHeader {
    height: 5vh;
    line-height: 5vh;
    display:flex ;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-start;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 1vh;
}

.postList .post .postHeader .postUserIcon {
    width: 35px;
    height: 35px;
}

.postList .post .postHeader .postUserIcon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.postList .post .postHeader .username {
    width: 65%;
    text-align: start;
    margin-left: 0.5vw;
}

.postList .post .postHeader .postTime {
    width: 25%;
    text-align: start;
}

.postList .post .postBody {
    margin-top: 1vh;
    min-height: 15vh;
    font-size: 2.1vmin;
    margin-bottom: 2vh;
}

.postList .post .postBody .postTitle {
    width: 100%;
    border-bottom: 2px  dotted #dcdcdc;
}

.postList .post .postBody .postText {
    width: 100%;
    margin-top: 1vh;
}

.postList .post .postFooter {
    display: flex;
    justify-content: space-around;
}



.postList .post .postFooter button {
    background-color: #FFFF;
    border: none;
    font-size: 2.5vmin;
    cursor: pointer;
}

.right  {
    position: fixed;
    right: 5vw;
    position: fixed;
    top: 20vh;
    right: 5vw;
}

.right form {
    width: 100%;
}

.right form input {
    width: 96%;
    display: block;
    height: 3vh;
    padding: 2%;
    border-radius: 10px;
}

.rightNav {
    width: 18vw;
    border-radius: 10px;
    border: 1px solid;
    /* height: 58vh; */
    margin-top: 5vh;
    padding: 1vh 1vw;
}

.rightNav ul {
    list-style: none;
    width: 100%;
}

.rightNav ul a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.rightNav ul li {
    display: flex;
    height: 8vh;
    width: 98%;
    padding: 0 1%;
    border-radius: 5px;
}

.rightNav ul li .navValue {
    line-height: 8vh;
    font-size: 2.3vmin;
}

.rightNav ul li:hover {
    background-color: #dcdcdc;
}

.right .addPost {
    width: 100%;
    border-radius: 10px;
    height: 6vh;
    display: block;
    margin-top: 5vh;
    border: none;
    background-color: #afeeee;
    cursor: pointer;
}

.addPostForm {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    /* display: none; */
}

.addPostForm .addPostFormDiv {
    background-color: #FFFF;
    width: 36%;
    margin: 10vh 30%;
    height: 76vh;
    padding: 2vh 2%;
    border-radius: 10px;
    position: relative;
}

.addPostForm input {
    display: block;
    border-radius: 10px;
    width:  98%;
    margin: 0 auto;
    height: 4vh;
    padding: 1vh 1%;
}

.addPostForm p {
    font-size: 2.5vmin;
    line-height: 5vh;
    height: 5vh;
}

.addPostForm .addPostFormDiv textarea {
    width: 98%;
    height: 50vh;
    resize: none;
    padding: 1vh 1%;
    border-radius: 10px;
    font-size: 2.3vmin;
}

.addPostForm .addPostFormDiv .buttons {
    display: flex;
    justify-content: space-between;
}

.addPostForm .addPostFormDiv input[type="file"] {
    display: none;
}

.addPostForm .addPostFormDiv .postImages {
    width: 49%;
    height: 6vh;
    margin-top: 1vh;
    border-radius: 10px;
    background-color: #afeeee;
    border: none;
    display: block;
    line-height: 6vh;
    text-align: center;
}

.addPostForm .addPostFormDiv .buttons i {
    margin-right: 0.3vw;
}

.addPostForm .addPostFormDiv .addPostSubmit {
    width: 49%;
    height: 6vh;
    margin-top: 1vh;
    border-radius: 10px;
    background-color: #afeeee;
    border: none;
}

.addPostForm .formClose {
    position: absolute;
    top: -4vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 3vw;
    height: 4vh;
    font-size: 4vmin;
    color: #FFFF;
    text-align: center;
    cursor: pointer;
}